<!-- Masthead-->
<header class="masthead" style="background-image: url('dance-studio.jpg');">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <h1 class="mb-5">Search dance studios around Australia!</h1>


                    <%= form_with url: "/search", method: :get do |form| %>
                      <div class="input-group">
                        <input placeholder="Name" type="text" name="name_query" id="name_query" class="form-control" style="display: inline; width: auto;">
                        <!-- style -->
                        <select name="style" id="style" class="form-select" style="display: inline; width: auto;">
                          <option value="all">All Styles</option>
                          <% @styles.each do |style| %>
                          <option value=<%= style.id %>> <%= style.name %> </option>
                          <% end %>
                        </select>                        
                        <!-- city -->
                        <select name="city" id="city" class="form-select" style="display: inline; width: auto;">
                          <option value="all">All Cities</option>
                          <% @distinct_studio_cities.each do |studio_city| %>
                          <option value="<%= studio_city.city %>"> <%= studio_city.city %> </option>
                          <% end %>
                        </select>
                        <input type="submit" name="commit" value="Search" class="btn btn-primary form-control" data-disable-with="Search" style="display: inline; width: auto;">
                      </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</header>

<% if false %>
  <h1>Dance Directory</h1>

  <h3>Studios:</h3>

  <%= button_to "new", new_studio_path, method: "get" %>

  <% @studios.each do |studio| %>
    <p>
      name: <%= studio.name %> </br>
      description: <%= studio.description %> </br>
      style: <%= studio.style %> </br>
      <%= button_to "edit", edit_studio_path(studio), method: "get" %>
      <%= button_to "delete", studio_path(studio), method: "delete", data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } %>
    </p>
  <% end %>

  <div class="container mx-auto bg-gray-100 flex flex-col items-center py-12 sm:py-24">
    <div>
    hello
      <select name="dance_style" id="style">
        <option value="all_style">Allstyles</option>
        <option value="saab">Hip Hop</option>
        <option value="mercedes">Contemporary</option>
        <option value="audi">Ballet</option>
      </select>
    </div>
  </div>
<% end %> 